<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>text vs utext</h1>
<ul>
    <li>th:text = <span th:text="${data}"></span></li>
    <!--utext의 u는 unescaped라는 뜻이다. 이스케이프하지 말고 그대로 출력하라는 것이다.-->
    <li>th:utext = <span th:utext="${data}"></span>
</ul>

<h1><span th:inline="none">[[...]] vs [(...)]</span></h1>
<ul>
    <!--[[...]]는 escaped이고 [(...)]는 unescaped이다.-->
    <li><span th:inline="none">[[...]] = </span>[[${data}]]</li>
    <li><span th:inline="none">[(...)] = </span>[(${data})]</li>
</ul>

</body>
</html>